node_modules
.pnpm-store
.next
out
build
coverage
.tmp
.cache

.git
.github
.gitignore
.gitattributes

.env
.env.*
!.env.example

*.md
docs
Dockerfile
Dockerfile.*
docker-compose*.yml

.vscode
.idea
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts
