.trigger {
  display: flex;
  align-items: center;
  gap: 12px;

  height: 56px;
  padding: 0 16px;
  width: 100%;

  background: transparent;
  border: none;
  cursor: pointer;

  color: rgb(113, 112, 112);

  font-size: 15px;
  font-weight: 400;
}

.filled {
  color: #111;
  font-weight: 500;
}

.popover {
  background: white;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.label {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border-radius: 999px;

  color: #888;

  transition: background 0.2s;
}

.clear:hover {
  background: rgba(0, 0, 0, 0.06);
}